@model IssueTracker.Models.Project

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Title) Details</h1>
<hr>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Team)
        </dt>
        <dd class = "col-sm-10">
            @foreach (var user in Model.Team)
            {
                @Html.DisplayFor(model => user.FirstName) 
                @Html.DisplayFor(model => user.LastName)
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<div>
    <hr>
    <h4>Issues</h4>
    <a asp-action="CreateIssue" asp-route-id="@Model?.Id">New Issue</a>
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th>
                    @("Title")
                </th>
                <th>
                    @("Description")
                </th>
                <th>
                    @("Priority")
                </th>
                <th>
                    @("Status")
                </th>
                <th>
                    @("Found At")
                </th>
                <th>
                    @("Manager(s)")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @if (Model.Issues != null)
    {
        @foreach (var item in Model.Issues)
        {
            <tr class="clickable" onclick="location.href='@(Url.Action("Details", "Issues", new { Id = item.Id }))'">
                <td>
                    @Html.DisplayFor(model => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Priority)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FoundAt)
                </td>
                <td>
                    @* @Html.DisplayFor(modelItem => item.Managers) *@
                </td>
                <td>
                    <a asp-controller="Issues" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-controller="Issues" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-controller="Issues" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    }
        </tbody>
    </table>
</div>
